<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>JSHint</title>
  <style>
  {{{style}}}
  </style>
</head>
<body>
  <header>
    <div class="info">
      {{#if numErrors}}
        <span class="desc">JSHint found {{numErrors}} problems:</span>
      {{else}}
        <span class="desc">Lint-free!</span>
      {{/if}}
    
      <span class="filepath">{{file}}</span>
    
      <a href="http://rondevera.github.com/jslintmate/" class="info" title="About JSLintMate 1.4">info</a>
    </div>
  <!-- <ul class="notices">
    <li class="warn">The options file "/.jshintrc" could not be read.</li>
  </ul> -->
  
  </header>

  
  {{#if numErrors}}
    {{> errorTemplate}}
  {{else}}
    <div class="results results-success">
      <p class="success">Lint-free!</p>
    </div>
  {{/if}}
    
  <script>
    {{{script}}
  </script>
</body>
</html>
